.list {
  margin-top: 40px;
}

.list-row {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 0.3fr;
  padding: 10px 5px;
}

.list-header {
  background-color: #eee;
  font-weight: 500;
}

.list-item {
  border-bottom: 1px solid #eee;
  margin-bottom: 3px;
  cursor: pointer;
}
