* {
  border: none;
  box-sizing: border-box;
  list-style: none;
  margin: 0px;
  padding: 0px;
  appearance: none;
  border-radius: 0px;
  touch-action: manipulation;
  outline: 0;
}

body,
button,
input {
  font-family: "Montserrat", sans-serif;
}

img {
  max-width: 100%;
  object-fit: cover;
  height: 100%;
}

.buttons {
  display: flex;
  flex-direction: row;
}

.primary-button {
  background: #0036a5 0% 0% no-repeat padding-box;
  border-radius: 18px;
  padding: 5px 30px;
  color: #ffff;
  cursor: pointer;
}

.secondary-button {
  background: #d3d3d3 0% 0% no-repeat padding-box;
  border-radius: 18px;
  padding: 5px 30px;
  color: #000000;
  cursor: pointer;
}
